/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
  margin: 20px 40px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background-color: #F3F3F3FF !important;
}
h1, h2, h3, h4 , h5, ul, li, a, p, input, label, button, div, footer{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: #444;
}
.button {
  display: inline;
  font-size: 25px;
}
.buttons {
  text-align: center;
  word-spacing: 20px;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
  background: #fafafa !important;
  border-radius: 25px;
  padding: 10px;
}
nav ul{
  display: flex;
  align-items: center;
}
nav li{
  margin-left: 20px;
  text-align: center;
}
nav li a{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
.btn{
  border-radius: 36px;
  background: #FEE996;
}
form h2{
  font-size: 2.4em;
  font-weight: 900;
  margin-bottom: 40px;
}
form:not(.searchForm) {
  width: 360px;
  margin: 50px auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
  border-radius: 10px;
  background: white;
  padding-right: 55px;
}
form.recipe-form{
  width: 550px;
}
input,textarea,select{
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
}
label{
  display: block;
  margin: 20px 0 10px;
}
button{
  margin-top: 30px;
  border-radius: 36px;
  background: #FEE996;
  border:0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
  cursor: pointer;
}

/* .recipes{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 80px;
  margin: 80PX AUTO;
  max-width: 1200px;
} */
/*.recipe{
  display: inline-block;
  border-radius: 20px;
  background: white;
  position: relative;
  text-align: center;
  padding: 0 20px 30px 20px
}
*/

.recipe img {
  max-width: 100%;
  margin: 20px auto 20px;
  display: block;
}

footer{
  text-align: center;
  margin-top: 120px;
  color: #aaa;
}

.details {
  margin: 10px;
  padding: 10px;
}
.details h2{
  margin-bottom: 20px;
}

.details h5{
  margin-top: 20px;
  margin-bottom: 10px;
}

.details p{
  margin: 0;
}
.details img {
  margin-top: 20px;
}

.details  .ingrediants{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 60%;
  flex-wrap: wrap;
  margin: auto;
}
.details  .ingrediants .list-item {
  width: calc(50% - 30px);
  padding: 15px;
  font-size: 23px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.details  .ingrediants .list-item li {
  width: 70%;
  text-indent: 25px;
}
.details  .ingrediants .list-item i {
  width: 30%;
  text-align: right;
}
.details .etapes{
list-style-type: decimal;
}

.details li {
  margin-bottom: 5px;
}

.details  .how {
  margin-bottom: 25px;
}
.details  .etapes li{
  text-align: center;
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 15px;
  font-size: 25px;
}


.delete {
  background-color: rgb(255, 105, 84);
}

.delete a {
  color: #fafafa;
}
.search {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 10px;
  transition-duration: 500ms;
  cursor: pointer;
  font-size: 15px;
  border: 1px solid white;
  overflow: hidden;
  background-image: url('https://www.w3schools.com/css/searchicon.png');
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 45% 50%;
}
.search:hover {
border : 1px solid #fee996;
}
.search:focus
{
  width: 155px;
  cursor : text ;
  padding-left: 40px;
  color : #000000;
  outline : none ;
  border-width: 2px 2px;
  border-radius: 40px;
  border-color: #fee996;
  background: url('http://cliparts.co/cliparts/rTL/n8R/rTLn8RLBc.png') no-repeat;
  background-size: 22px;
  background-color: transparent;
  background-position: 10px 50%;
}
.search:not(:focus) {
  text-indent: -9999px;
}


.comment_container{
  margin: 3rem auto;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  width: min(90% , 1140px);
  min-height: 100%;
  border-left: 6px solid #FEE996;

}

.comment_card{
  padding: 20px;
  min-width: 100%;
  margin: 10px ;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.comment_card h3 , .comment_card p {
  margin-bottom: 1rem;
}

.comment_card .comment_footer{
  display: flex;
  font-size: .85rem;
  opacity: .6;
  gap: 30px;
  justify-content: flex-end;
  align-items: center;
}
.mapdiv
{
  width  : 28%;
  margin: auto ;
}
.mapdiv path
{
  fill : #FEE996;
  stroke : #000000;
  stroke-width : 4px ;
  transition : fill 0.3s;
}
.mapdiv :hover
{
  fill : #8c8989;
  stroke-width: 7px;
}
.h11 , .h22
{
  text-align: center;
}

.fa-bookmark {
  font-size: 18px;
}
.img-container {
  width: 60%;
  overflow: hidden;
  margin: auto;
  height: 450px;
  border: 1px solid rgb(246, 134, 86);
  border-radius: 20px;
  box-shadow:0 0 15px rgb(246, 134, 86);
}
.img-container img {
  width:100%;
  height: 100%;
}
.flex {
  width:60%;
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-top: 45px;
}
.flex .time,.flex .bkmark {
  width: 50%;
  text-align: center;
  font-size: 33px !important;
  position: relative;
}
.flex .fa-bookmark {
  font-size: 33px !important;
  padding-right: 50px;
  position: relative;
  transition: 0.7s;
}
.flex .fa-bookmark:hover{
  transform: scale(1.03);
}
.flex .time {
  padding-left: 50px;
}
.flex .bkmark .fa-bookmark::after{
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(135deg, rgb(243, 235, 232), rgb(238, 178, 140), rgb(246, 134, 86));
  left: -18px;
  top: -13px;
  z-index: -1;
}

.message{
  width: fit-content;
  padding: 10px;
  position: absolute;
  font-size: 16px;
  background-color: white;
  margin-top: 25px;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(1 1 1 /15%);
  display: none;
  transition: 0.5s;
}
.recName  {
  width:fit-content;
  margin: auto;
  font-size: 45px;
  color: white;
  background: linear-gradient(135deg, rgb(248, 197, 170), rgb(253, 103, 37));
  padding: 15px 10px;
  transform: translate(-5%,-60%) skewY(-5deg);
}

.recIngre ,.how {
  margin-top: 60px !important;
  text-align: center;
  font-size: 35px;
  color: rgb(255, 134, 114);
}
nav a img {
  height: 100%;
  max-height: 52px;
  width: auto;
  max-width: 200px;
  vertical-align: middle;
}
.team-container
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.member{
  height: 320px;
  width: 240px;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
}
.member .card{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  transform: translateY(0%);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
}
.member:hover > .front-face{
  transform: rotateY(-180deg);
}
.member .card img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.member .back-face{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transform: rotateY(180deg);
}
.member:hover > .back-face{
  transform: rotateY(0deg);
}
.member .back-face img{
  height: 150px;
  width: 150px;
  padding: 5px;
  border-radius: 50%;
  background: linear-gradient(375deg, #eec600, #fee996);
}
.member .back-face .info{
  text-align: center;
}
.back-face .info .title{
  font-size: 30px;
  font-weight: 500;
}
.back-face ul{
  display: flex;
}
.back-face ul a{
  display: block;
  height: 40px;
  width: 40px;
  color: #fff;
  text-align: center;
  margin: 0 5px;
  line-height: 38px;
  border: 2px solid transparent;
  border-radius: 50%;
  background: linear-gradient(375deg, #fee996, #fee996);
  transition: all 0.5s ease;
}
.back-face ul a:hover{
  color: #eec600;
  border-color: #eec600;
  background: linear-gradient(375deg, transparent, transparent);
}
.rootReactVNB {
  display:none !important;
}
.navbar-brand {
  font-size: 35px !important;
  padding-left: 50px !important;
}
.navbar-item {
  font-size: 25px !important;
  padding-right: 20px !important;
}
.bg-light {
  background-color: #b2ff93 !important;
}
#content{
  background-color: #edffe5 !important;
  padding-bottom: 100px !important;
}
.plats{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  padding-inline: 20px;
}
.plat {
  background-color: white;
  border: 1px solid gray;
  min-height: 1em;
  width: 30%;
  overflow: hidden;
  border-radius:10px;
  transition: 0.7s ease;
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 25px 1px gray;
  margin-bottom: 30px;

}
.plat:hover{
  transform:scale(1.05);
}
.plat-img img {
  width: 100%;
  height:100%;
}

.plat-img {
  width:50%;
  border-right: 1px solid black;
}

.plat:hover .plat-img {
  opacity: 0.9;
}
.container h3{
  width: 100%;
  text-align: center;
  padding-top: 30px;
  font-size: 50px;
  font-weight: 700;
}
.plat-info {
  padding:10px 25px 25px 25px ;
  height: inherit;
  width:60% ;
}
.plat-name {
  margin-bottom: 30px;
  font-size: 25px;
}
.plat-author , .plat-admiration, .plat-visitors  {
  margin-bottom: 0;
}
.plat-region , .plat-description{
  margin-bottom: 35px;
}
/*footer{
  width: 100%;
  text-align: center;
  color: white;
  padding: 50px;
  background-color: #144d00;
}*/
.dishes {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
}

.see {
  padding-inline: 10px;
  padding-block: 5px;
  background-color: #ffd255;
  border-radius: 5px;
}
.team-introduction
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.team-members
{
  text-align: center;
  margin-top: 50px;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
}
.team-members:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 3px;
  background-color: #eec600;
  border-radius: 50px;
}
.gradient-text {
  background: linear-gradient(to right, #911804, #ff0042);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subtitle {
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
#nav {
  position: relative;
  z-index: 1;
}


#nav-bar li a{
  transition: 0.2s;
}
#nav-bar li a:hover  {
  transform: translateX(-1px);
  text-shadow: 1px 1px 1px #ffc059;
}
footer{
	font-size:large;
}
footer > p > a{
	color:#0000FF;
}
footer > p > a:hover{
	text-decoration:underline;
}
footer > p > a:visited{
	color:#551A8B;
}

.cat-below-title {
  text-align: center;
  margin-bottom: 20px;
}
.hide{
  display: none;
}
.below{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.below div {
  width: fit-content;
  background : linear-gradient(135deg, rgb(138, 138, 138), rgb(0, 0, 0));
  padding: 6px 15px;
  margin-right: 7.5px;
  box-shadow: 0px 12px 100px #d0e5fe;
  border-radius: 5px;
  font-size: 25px;
  font-weight: 600;
  color: white;
}
.below div a {
  text-decoration: none;
}
.below .prv:hover , .below .next:hover {
  cursor: pointer;
}

.orderby {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 13px;
}

.order {
  display: flex;
  margin-top: 15px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.order a {
  padding: 20px;
  border-radius: 100px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.order a::before {
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  width: 200%;
  height: 200%;
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transition: all 0.3s ease-in-out;
}

.order a:hover::before {
  top: 0;
  left: 0;
}

.order a:hover {
  transform: scale(1.2);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}
.orderby .title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  animation: anim-text 2s ease-out infinite;
}
footer {
  background-color: #ffffff;
  text-align: center;
  padding: 50px 0;
}
.logo {
  display: inline-block;
  width: 150px;
  margin-bottom: 20px;
}
.contact {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}
.contact span {
  display: block;
  margin-bottom: 5px;
}