/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
  margin: 20px 40px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background: #fafafa;
}
h1, h2, h3, h4 , h5, ul, li, a, p, input, label, button, div, footer{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: #444;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 120px;
}
nav ul{
  display: flex;
  align-items: center;
}
nav li{
  margin-left: 20px;
}
nav li a{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
.btn{
  border-radius: 36px;
  background: #FEE996;
}
form h2{
  font-size: 2.4em;
  font-weight: 900;
  margin-bottom: 40px;
}
form:not(.searchForm) {
  width: 360px;
  margin: 50px auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
  border-radius: 10px;
  background: white;
  padding-right: 55px;
}
input,textarea,select{
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
}
label{
  display: block;
  margin: 20px 0 10px;
}
button{
  margin-top: 30px;
  border-radius: 36px;
  background: #FEE996;
  border:0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
  cursor: pointer;
}

.recipes{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 80px;
  margin: 80PX AUTO;
  max-width: 1200px;
}
.recipe{
  display: inline-block;
  border-radius: 20px;
  background: white;
  position: relative;
  text-align: center;
  padding: 0 20px 30px 20px
}
.recipe img {
  max-width: 100%;
  margin: 20px auto 20px;
  display: block;
}

footer{
  text-align: center;
  margin-top: 120px;
  color: #aaa;
}

.details {
  margin: 10px;
  padding: 10px;
}
.details h2{
  margin-bottom: 20px;
}

.details h5{
  margin-top: 20px;
  margin-bottom: 10px;
}

.details p{
  margin: 0;
}
.details img {
  margin-top: 20px;
}

.details  .ingrediants{
  list-style-type: circle;
}

.details .etapes{
list-style-type: decimal;
}

.details li {
  margin-bottom: 5px;
}

.delete {
  background-color: darkred;
}

.delete a {
  color: #fafafa;
}
.search {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 10px;
  transition-duration: 500ms;
  cursor: pointer;
  font-size: 15px;
  border: 1px solid white;
  overflow: hidden;
  background-image: url('https://www.w3schools.com/css/searchicon.png');
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 45% 50%;
}
.search:hover {
border : 1px solid #fee996;
}
.search:focus
{
  width: 155px;
  cursor : text ;
  padding-left: 40px;
  color : #000000;
  outline : none ;
  border-width: 2px 2px;
  border-radius: 40px;
  border-color: #fee996;
  background: url('http://cliparts.co/cliparts/rTL/n8R/rTLn8RLBc.png') no-repeat;
  background-size: 22px;
  background-color: transparent;
  background-position: 10px 50%;
}
.search:not(:focus) {
  text-indent: -9999px;
}


.comment_container{
  margin: 3rem auto;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  width: min(90% , 1140px);
  min-height: 100%;
  border-left: 6px solid #FEE996;

}

.comment_card{
  padding: 20px;
  min-width: 100%;
  margin: 10px ;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.comment_card h3 , .comment_card p {
  margin-bottom: 1rem;
}

.comment_card .comment_footer{
  display: flex;
  font-size: .85rem;
  opacity: .6;
  gap: 30px;
  justify-content: flex-end;
  align-items: center;
}
.mapdiv
{
  width  : 28%;
  margin: auto ;
}
.mapdiv path
{
  fill : #FEE996;
  stroke : #000000;
  stroke-width : 4px ;
  transition : fill 0.3s;
}
.mapdiv :hover
{
  fill : #8c8989;
  stroke-width: 7px;
}
.h11 , .h22
{
  text-align: center;
}

.fa-bookmark {
  font-size: 18px;
}
.img-container {
  width: 60%;
  overflow: hidden;
  margin: auto;
  height: 650px;
  object-fit: cover;
}
.img-container img {
  width:100%;
  height: 100%;
}
.flex {
  width:60%;
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-top: 45px;
}
.flex .time,.flex .bkmark {
  width: 50%;
  text-align: center;
  font-size: 33px !important;
  position: relative;
}
.flex .fa-bookmark {
  font-size: 33px !important;
  padding-right: 50px;
  position: relative;
  transition: 0.7s;
}
.flex .fa-bookmark:hover{
  transform: scale(1.03);
}
.flex .time {
  padding-left: 50px;
}
.flex .bkmark .fa-bookmark::after{
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(135deg, rgb(243, 235, 232), rgb(238, 178, 140), rgb(246, 134, 86));
  left: -18px;
  top: -13px;
  z-index: -1;
}

.message{
  width: fit-content;
  padding: 10px;
  position: absolute;
  font-size: 16px;
  background-color: white;
  margin-top: 25px;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(1 1 1 /15%);
  display: none;
  transition: 0.5s;
}